<!DOCTYPE HTML>
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="pc,mobile" name="applicable-device">
<meta content="no-transform" http-equiv="Cache-Control">
<meta content="no-siteapp" http-equiv="Cache-Control">
<meta content="width=device-width" name="viewport">
<link href="./css/style.css" media="screen" type="text/css" rel="stylesheet">
<script src="./js/jquery.min.js"></script> 
<title>人生哲理_人生哲理文章阅读_人生哲理语录句子大全_意空间阅读网</title><meta content="人生哲理_人生哲理文章阅读_人生哲理语录句子大全" name="keywords">
<meta content="人生哲理栏目为广大网友奉献人生哲理名言，人生哲理故事，人生哲理文章，哲理名人名言名录大全。" name="description">
</head>
<body class="archive category category-philosophy-life category-18">
<div class="topbar">
	<div class="inner">
		<a title="意空间阅读网_青春励志文章_励志文章阅读" href="" class="logo">意空间阅读网</a>
		<ul class="nav">
			<li class="menu-item menu-item-type-taxonomy menu-item-object-category" id="menu-item-180"><a href="/category/philosophy-life" title="人生哲理_人生哲理相关文章_有关生活哲理语录句子">人生哲理</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-126" id="menu-item-126"><a href="/category/inspirational-life" title="励志文章_励志相关文章_励志相关句子语录">励志文章</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-489" id="menu-item-489"><a href="/category/youth-campus" title="情感美文_情感美文相关文章阅读_情感语录句子大全">情感美文</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-143" id="menu-item-143"><a href="/category/spiritual-journey" title="经典美文摘抄_经典美文美句摘抄_经典美文欣赏">经典美文</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-137" id="menu-item-137"><a href="/category/affection-sentiment" title="爱情文章_爱情故事_爱情日记_爱情散文美文">爱情文章</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2323" id="menu-item-2323"><a href="/category/perception-life" title="人生感悟_人生感悟相关文章_人生感悟相关语录句子">人生感悟</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14649" id="menu-item-14649"><a href="/category/jingdianyulu" title="经典语录语句_爱情经典语录_经典励志语录语句大全">经典语录</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31436" id="menu-item-31436"><a href="/category/good-books" title="心情说说_心情随笔_心情短语_心情日记大全">心情说说</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31768" id="menu-item-31768"><a href="/category/renwen" title="散文精选_优美散文阅读_经典散文随笔_抒情散文吧">散文精选</a></li>
		</ul>

	</div>
</div>
<div class="wrapper">
	<div class="content">


	
	<!-- 分享代码 --><!-- 分享代码 -->
	
<ul class="excerpt thumb">
			<li>
			<a class="pic" href="/38073.html"><img alt="诸葛亮写给儿子的一封信，仅86字！" src="./img/849656160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/38073.html">诸葛亮写给儿子的一封信，仅86字！</a>
			</h2>
			<p class="excerpt-desc">
				
诸葛亮写给儿子的一封信，只用了短短八十六字，但是对于为学做人有精简而具体的忠告。一千八百多年前的智慧，在今天的科技时代，原来仍然有其参考价值。让我们一起向诸……			</p>

			<div class="excerpt-time">
				01-13			</div>
		</li>
			<li>
			<a class="pic" href="/38057.html"><img alt="母狼，写给中国所有的父母" src="./img/849652160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/38057.html">母狼，写给中国所有的父母</a>
			</h2>
			<p class="excerpt-desc">
				
一个朋友的孩子大学毕业半年了，没有去找工作，窝在家里，白天睡觉，晚上上网。最近跟他父母要钱，想去美国游学。朋友来问我该不该让他去？我望着他苍苍的白发说：“你如……			</p>

			<div class="excerpt-time">
				01-12			</div>
		</li>
			<li>
			<a class="pic" href="/38040.html"><img alt="修养，只属于你一个人的精神长相" src="./img/986521602.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/38040.html">修养，只属于你一个人的精神长相</a>
			</h2>
			<p class="excerpt-desc">
				
人之长相，分体貌和心灵。五官之美如花开艳阳，直接；而精神之美似暗香浮动，需依托，靠修养方能呈现。
什么是修养呢？是文明礼貌、知识文化还是清风明月、淡茶闲花，都……			</p>

			<div class="excerpt-time">
				01-11			</div>
		</li>
			<li>
			<a class="pic" href="/37951.html"><img alt="人生需要两种压力" src="./img/985622160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37951.html">人生需要两种压力</a>
			</h2>
			<p class="excerpt-desc">
				
大哲学家柏拉图在路上放了一把松了弦的弓，问来去匆匆的路人，他这样做是什么意思。
路人答不上来，柏拉图回答说：“如果你老是把弦绷得紧紧的，弓很容易就会折断；但如……			</p>

			<div class="excerpt-time">
				01-09			</div>
		</li>
			<li>
			<a class="pic" href="/37857.html"><img alt="做人的涵养，很有道理，一定要知道" src="./img/89564541160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37857.html">做人的涵养，很有道理，一定要知道</a>
			</h2>
			<p class="excerpt-desc">
				
1、不要自视清高
天外有天，人上有人，淡泊明志，宁静致远。当别人把你当领导时，自己不要把自己当领导；当别人不把你当领导时，自己一定要把自己当领导。权力是一时的……			</p>

			<div class="excerpt-time">
				01-07			</div>
		</li>
			<li>
			<a class="pic" href="/37861.html"><img alt="人生在世，这10件事无论如何也要做" src="./img/89564542160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37861.html">人生在世，这10件事无论如何也要做</a>
			</h2>
			<p class="excerpt-desc">
				
1、学会放手
这个年龄已经不允许你不成熟，当你无力把握命运中的某种爱、某种缘、某种现实，学会放手，给自己身心一个全新的开始。只要信心在，勇气就在；努力在，成功……			</p>

			<div class="excerpt-time">
				01-07			</div>
		</li>
			<li>
			<a class="pic" href="/37703.html"><img alt="中庸之道：不可不圆，不可太圆" src="./img/56137160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37703.html">中庸之道：不可不圆，不可太圆</a>
			</h2>
			<p class="excerpt-desc">
				
饭，不可不饱，不可太饱。不饱对不住美食，太饱对不住身体。饱中略饿，饿中微饱，乃养生之道、健康之本，少吃四成饭，多活二十年。
酒，不可不醉，不可太醉。不醉，品味……			</p>

			<div class="excerpt-time">
				01-02			</div>
		</li>
			<li>
			<a class="pic" href="/37687.html"><img alt="世上最可怕的是什么？" src="./img/56133160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37687.html">世上最可怕的是什么？</a>
			</h2>
			<p class="excerpt-desc">
				
有个人问禅师：“世上最可怕的是什么？”禅师说：“欲望！”那个人满脸疑惑。禅师说：“听我讲几个故事吧。”
可怕的黄金
一个僧人惊惶失措地从树林中跑过来，刚好碰到两个非……			</p>

			<div class="excerpt-time">
				01-01			</div>
		</li>
			<li>
			<a class="pic" href="/37607.html"><img alt="茫茫人生，何以为贵？" src="./img/986531602.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37607.html">茫茫人生，何以为贵？</a>
			</h2>
			<p class="excerpt-desc">
				
家庭不在贫富，贵在和睦温馨。生活不在显达，健康快乐就成。朋友不在贵贱，知音胜过黄金。距离不在远近，常来常往最亲。锻炼不在朝夕，贵在持之以恒。小病不在吃药，贵……			</p>

			<div class="excerpt-time">
				12-30			</div>
		</li>
			<li>
			<a class="pic" href="/37566.html"><img alt="蔡澜：凡事往好处想，人生便会豁达" src="./img/8561231160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37566.html">蔡澜：凡事往好处想，人生便会豁达</a>
			</h2>
			<p class="excerpt-desc">
				
减少压力，简称“减压”。压力的敌对头，是好玩，什么东西都把它变成好玩，压力自然减少。说得容易，你说：做起来难。这话也对，但是如果不做，永远没有改变。我不知道说……			</p>

			<div class="excerpt-time">
				12-28			</div>
		</li>
			<li>
			<a class="pic" href="/37562.html"><img alt="富人孩子和穷人孩子，差的真不仅仅是钱" src="./img/985648160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37562.html">富人孩子和穷人孩子，差的真不仅仅是钱</a>
			</h2>
			<p class="excerpt-desc">
				
文/毛豆妈
前两天，一篇《您没钱，就不要搀和减负这事了》文章大热朋友圈，作为一线小学教师，作者一针捅破了义务教育的玻璃纸：富人可以购买优质的私教弥补不足，低收……			</p>

			<div class="excerpt-time">
				12-27			</div>
		</li>
			<li>
			<a class="pic" href="/37477.html"><img alt="终身受用的社交潜规则，非常实用" src="./img/8456151601.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37477.html">终身受用的社交潜规则，非常实用</a>
			</h2>
			<p class="excerpt-desc">
				
分享37条社交潜规则，终身受用的社交潜规则。社交之所以累，是因为都想表现出自己其实并不具备的素质。人红是非多，如果你斗不过“是非”，不如暂时放弃“当红”，以退为进……			</p>

			<div class="excerpt-time">
				12-25			</div>
		</li>
			<li>
			<a class="pic" href="/37437.html"><img alt="最大的骗局：穷养儿子富养女" src="./img/8454160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37437.html">最大的骗局：穷养儿子富养女</a>
			</h2>
			<p class="excerpt-desc">
				
当“穷养儿子富养女”像一首流行歌曲一样，在许多年轻的父母口中传唱的时候，恐怕它也会像流行感冒一样，将孩子的成长和发展引向歧途。
一个生在富人家的儿子，父母不可能……			</p>

			<div class="excerpt-time">
				12-23			</div>
		</li>
			<li>
			<a class="pic" href="/37441.html"><img alt="你就是再成功，光阴的橡皮也会慢慢擦去你的名字" src="./img/8455160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37441.html">你就是再成功，光阴的橡皮也会慢慢擦去你的名字</a>
			</h2>
			<p class="excerpt-desc">
				
透过生死，才会明白健康的重要；透过成败，才会明白通达的重要；透过得失，才会明白淡泊的重要。人生最悲哀的事情，莫过于苦苦追求那些原本可以放弃的，却忽略了生命中……			</p>

			<div class="excerpt-time">
				12-23			</div>
		</li>
			<li>
			<a class="pic" href="/37429.html"><img alt="最狠的报复就是对待你当年的敌人，且把敌人变成朋友" src="./img/8452160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37429.html">最狠的报复就是对待你当年的敌人，且把敌人变成朋友</a>
			</h2>
			<p class="excerpt-desc">
				
记得大学刚毕业的时候，某电视公司请我去主持个特别节目，那节目的导播看我文章不错，又要我兼编剧。可是当节目做完，领酬劳的时候，导播不但不给我编剧费，还扣我一半……			</p>

			<div class="excerpt-time">
				12-23			</div>
		</li>
			<li>
			<a class="pic" href="/37433.html"><img alt="处理好人际关系，要记住三句话" src="./img/8453160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37433.html">处理好人际关系，要记住三句话</a>
			</h2>
			<p class="excerpt-desc">
				
很多时候，人们往往容易忘记别人对自己的好处，而一旦出现无心的冒犯，却总是耿耿于怀，变成了话不投机半句多，甚至老死不相往来。想想我们身边是否有这样的事例，而人……			</p>

			<div class="excerpt-time">
				12-23			</div>
		</li>
			<li>
			<a class="pic" href="/37400.html"><img alt="请记住，这才是骨子里的高贵" src="./img/8651322160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37400.html">请记住，这才是骨子里的高贵</a>
			</h2>
			<p class="excerpt-desc">
				
作家梁晓声一次在法国，他跟两个老作家一同坐车到郊区。那天刮着风，不时有雨滴飘落。
前面有一辆旅行车，车上坐着两个漂亮的法国女孩，不停地从后窗看他们的车。前车车……			</p>

			<div class="excerpt-time">
				12-22			</div>
		</li>
			<li>
			<a class="pic" href="/37404.html"><img alt="世间无人知道的两个字（深度好文）" src="./img/8651323160.jpg"></a>			<h2 class="excerpt-tit">
				<a href="/37404.html">世间无人知道的两个字（深度好文）</a>
			</h2>
			<p class="excerpt-desc">
				
文/释戒嗔
淼镇上有户人家，家境富裕，一直想要个儿子，甚至不惜罚款超生，生了第三胎后，终于得了一个儿子，自然溺爱了些。儿子见到好吃好玩的，出手就要，所幸家中挺……			</p>

			<div class="excerpt-time">
				12-22			</div>
		</li>
	</ul>

<div class="paging"><span class="current">1</span> <a title="第 2 页" href="/category/philosophy-life/page/2">2</a> <a title="第 3 页" href="/category/philosophy-life/page/3">3</a> <a title="第 4 页" href="/category/philosophy-life/page/4">4</a> <a title="第 5 页" href="/category/philosophy-life/page/5">5</a> <span class="dots"> ... </span><a title="»" href="/category/philosophy-life/page/57">57</a> <a href="/category/philosophy-life/page/2">&gt;</a></div>

</div>
<div class="sidebar">
	
	<div class="widget widget_categories"><h3 class="widget-tit">文章分类</h3>		<ul>
	<li class="cat-item cat-item-18 current-cat"><a title="人生哲理栏目为广大网友奉献人生哲理名言，人生哲理故事，人生哲理文章，哲理名人名言名录大全。" href="/category/philosophy-life">人生哲理_人生哲理文章阅读_人生哲理语录句子大全</a>
</li>
	<li class="cat-item cat-item-795"><a title="人生感悟栏目为读者分享人生感悟日志、人生感悟的句子、人生感悟文章、人生感悟名言、人生感悟散文等一系列人生的感悟。" href="/category/perception-life">人生感悟文章散文_人生感悟的句子_人生感悟语录语句</a>
</li>
	<li class="cat-item cat-item-25"><a title="意空间伤感说说栏目主要分享伤感的句子说说心情，心情不好的说说大全，伤感QQ说说大全，说说心情短语，qq说说心情短语，qq空间说说，爱情说说等各类说说。" href="/category/network">伤感心情说说_伤感的句子说说心情_心情不好的说说心情短语</a>
</li>
	<li class="cat-item cat-item-1"><a title="励志文章栏目为网友倾心奉献励志名言大全，励志的句子，名人励志人生故事，励志经典语录，励志经典语句等励志资料大全，读励志文章，过励志人生。" href="/category/inspirational-life">励志文章_励志小故事_励志的句子_励志语录名言</a>
</li>
	<li class="cat-item cat-item-119"><a title="意空间阅读网唯美的句子栏目为读者分享关于爱情的唯美句子，关于友情的唯美句子，唯美伤感的句子，唯美诗句，唯美语录，唯美文字，唯美爱情句子，唯美古风句子等，和唯美相关的句子语录。" href="/category/workplace-life">唯美的句子_关于爱情的唯美句子_关于友情的唯美句子</a>
</li>
	<li class="cat-item cat-item-1376"><a title="意空间心情栏目主要分享心情说说，心情随笔，心情短语，心情日志大全等，一切有关心情的文章和语录说说，心情不好怎么办，就看意空间心情说说。" href="/category/good-books">心情说说_心情随笔_心情短语_心情日记大全</a>
</li>
	<li class="cat-item cat-item-198"><a title="情感美文栏目为读者奉献青春情感故事，青春情感文章，青春情感语录，青春情感爱情故事，校园青春情感故事，让我们阅读美好的情感美文，记忆自己的青春情感历程。" href="/category/youth-campus">情感美文文章_伤感美文散文阅读_情感语录句子</a>
</li>
	<li class="cat-item cat-item-330"><a title="意空间阅读散文精选栏目主要分享散文精选文章，优美散文阅读，经典散文随笔，散文诗，伤感散文，短篇散文精选以及朱自清散文，余秋雨散文，林清玄散文集等各类名家精选散文。" href="/category/renwen">散文精选_优美散文阅读_经典散文随笔_抒情散文吧</a>
</li>
	<li class="cat-item cat-item-211"><a title="涨姿势吧，全民涨姿势，更涨知识，社会，爆料，八卦，没品新闻，美食，涨姿势科普，涨姿势福利社，每天阅读十分钟，姿势倍儿涨。" href="/category/poetry">涨姿势吧_来这里涨点姿势吧_还可以更涨知识哦！</a>
</li>
	<li class="cat-item cat-item-5"><a title="爱情文章栏目为广大网友奉献感动你我的家庭亲情文章、亲情故事，感动天地的人间爱情故事、爱情文章，让世间充满情充满爱，情爱遍人间。" href="/category/affection-sentiment">爱情文章_爱情散文_爱情故事日记_爱情美文</a>
</li>
	<li class="cat-item cat-item-19"><a title="经典美文为读者分享每个人的美好心情，美好心情日志，美好心情文章，美文欣赏，经典美文美句摘抄，让心情踏上快乐的美好心灵旅途，成为读者心中的心灵鸡汤。" href="/category/spiritual-journey">经典美文摘抄_经典美文美句摘抄_经典美文欣赏</a>
</li>
	<li class="cat-item cat-item-3770"><a title="经典语录栏目分享经典语录语句，经典句子，一句话经典语录，经典爱情语录，亲情爱情友情伤感语录句子，青春励志经典语录语句，经典励志语录句子大全，传递正能量，活出精彩生活。" href="/category/jingdianyulu">经典语录句子_经典爱情语录_一句话经典语录语句大全</a>
</li>
		</ul>
</div>		<div class="widget widget_recent_entries">		<h3 class="widget-tit">最新发表</h3>		<ul>
					<li>
				<a href="/38069.html">我知道，我终将成为更好的人</a>
						</li>
					<li>
				<a href="/38073.html">诸葛亮写给儿子的一封信，仅86字！</a>
						</li>
					<li>
				<a href="/38061.html">你的第二身份是什么？看后让我沉思良久！</a>
						</li>
					<li>
				<a href="/38065.html">在喜欢的领域里打一场漂亮的持久战</a>
						</li>
					<li>
				<a href="/37984.html">爱情语录：我己被你完全俘虏，注定此生为你而沉醉</a>
						</li>
					<li>
				<a href="/37980.html">爱情语录：我们暧昧，我们却不属于对方</a>
						</li>
					<li>
				<a href="/37976.html">爱情语录：对于你的名字，从今不再想起</a>
						</li>
					<li>
				<a href="/37972.html">爱情语录：愿因只有三个字：我爱你！永远永远！</a>
						</li>
				</ul>
		</div></div></div>

<div class="footer">
	<div class="inner">
		
		<div class="copyright">
			意空间，<a href="">青春励志文章</a>阅读，版权所有，保留一切权利！ &copy; 2016 <a href="">意空间阅读网</a> <a href="http://www.miitbeian.gov.cn" target="_blank">湘ICP备13010121号-3</a>
		</div>
	</div>
</div>








</body></html>